{% extends 'base.html' %}

{% block title %}
    图书馆设备维护登记系统后台-设备维护记录
{% endblock %}
{% block subtitle %}
    <a href="/index/"> 图书管设备维护系统-设备维护记录</a>
{% endblock %}

{% block content %}

    <div class="content">
    <div class="row">
                    <div class="col-lg-12">
                    <form method="GET" action="/index/mansearch/">
                    <input type="text" class="col-lg-4" name="date" placeholder="请输入日期，注意格式" />
                                <input type="submit" class="btn btn-dark" value="搜索"/>
                    </form>

                                    <hr>
                        <div class="card">
{#                            <div class="card-body">#}
{#                                <h4 class="box-title">提醒事项</h4>#}
{#                            </div>#}

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title">设备维护记录</strong>
                                        </div>
                                        <div class="card-body">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">设备摆放位置</th>
                                                        <th scope="col">设备型号</th>
                                                        <th scope="col">记录提交时间</th>
                                                        <th scope="col">查看详情</th>
                                                        <th scope="col">进行备注</th>
                                                        <th scope="col">删除</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <div class="modal fade" id="ch" tabindex="-1" role="dialog">
                                                          <div class="modal-dialog" role="document">
                                                            <div class="modal-content">

                                                              <!-- 模态框头部 -->
                                                              <div class="modal-header">
                                                                <h4 class="modal-title">进行备注</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                              </div>

                                                              <!-- 模态框主体 -->
                                                              <div class="modal-body">
{#                                                                <p>pass</p>#}
                                                                  <input id="manid" style="display: none" type="text"/>
                                                                  <strong>备注：</strong>
                                                                  <hr>
                                                                  <div class="container">
                                                                    <textarea class="form-control" id="beizhu" ></textarea>
                                                                  </div>
                                                              </div>


                                                              <!-- 模态框底部 -->
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                                  <a href="/index/equman/">
                                                                  <input onclick="return submit_ch()" type="button" value="确认" class="btn btn-danger"/>
                                                                      </a>
                                                              </div>
                                                          </div>
                                                        </div>
                                                        </div>

                                                {% for i in current_Page %}
                                                    <tr>
                                                        <th scope="row">{{ i.id }}</th>
                                                        <td>{{ i.id_ma__location }}</td>
                                                        <td>{{ i.id_ma__model }}</td>
                                                        <td>{{ i.subtime }}</td>
                                                        <td><button class="btn-danger" data-toggle="modal" data-target="#my{{ i.id }}">详情</button> </td>
                                                        <td><button onclick="get_nid(this)" class=".btn-sm btn-warning" data-toggle="modal" data-target="#ch">备注</button> </td>
                                                        <td><button  class=".btn-sm btn-danger" data-toggle="modal" data-target="#del{{ i.id_ma__id }}">删除</button> </td>
                                                    </tr>

{#                                                        详情模态框开始#}
                                                        <div class="modal fade" id="my{{ i.id }}" tabindex="-1" role="dialog">
                                                          <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">

{#                                                              <!-- 模态框头部 -->#}
                                                              <div class="modal-header">
                                                                <h4 class="modal-title">详情</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                              </div>

{#                                                              <!-- 模态框主体 -->#}
                                                              <div class="modal-body">
                                                                <div class="container">
                                                                    <label>设备ID：{{ i.id_ma__id }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>型号：{{ i.id_ma__model }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>系统运行状况：{{ i.systemrun }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>广告状况：{{ i.adout }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>系统其它设置：{{ i.othset }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>鼠标状况：{{ i.mouse }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>键盘状况：{{ i.keyboard }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>屏幕状况：{{ i.screen }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>主机状况：{{ i.engine }}</label>
                                                                    <hr>
                                                                </div>
                                                                  <div class="container">
                                                                    <label>维护员备注：</label>
                                                                      <textarea class="form-control" placeholder="{{ i.note }}" disabled=""></textarea>
                                                                    <hr>
                                                                </div>

                                                              </div>

{#                                                              <!-- 模态框底部 -->#}
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                              </div>

                                                            </div>
                                                          </div>
                                                        </div>

{#                                                    删除#}
                                                    <div class="modal fade" id="del{{ i.id_ma__id }}" tabindex="-1" role="dialog">
                                                          <div class="modal-dialog" role="document">
                                                            <div class="modal-content">

                                                              <!-- 模态框头部 -->
                                                              <div class="modal-header">
                                                                <h4 class="modal-title">删除</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                              </div>

                                                              <!-- 模态框主体 -->
                                                              <div class="modal-body">
                                                                  <strong>确认删除？</strong>
                                                                  {{ i.adout }}
                                                              </div>

                                                              <!-- 模态框底部 -->
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn-secondary" data-dismiss="modal">关闭</button>
                                                                      <a href="/index/equmandel?nid={{ i.id_ma__id }}">
                                                                      <input  type="button"  value="删除" class="btn-danger"/>
                                                                      </a>
                                                              </div>

                                                            </div>
                                                          </div>
                                                        </div>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        <div>
                                                    <nav aria-label="Page navigation" >
                                                      <ul class="pagination">
{#                                                      <!--判断是否有上一页-->#}
                                                            {% if not current_Page.has_previous %}
                                                                <li class="page-item disabled">
                                                                  <a href="#" aria-label="Previous" class="page-link">
                                                                    <span aria-hidden="true">上一页</span>
                                                                  </a>
                                                                </li>
                                                                {% else %}
                                                                <li class="page-item">
                                                                  <a href="?page={{ current_Page.previous_page_number }}" aria-label="Previous" class="page-link">
                                                                    <span aria-hidden="true">上一页</span>
                                                                  </a>
                                                                </li>
                                                            {% endif %}

{#                                                            <!--判断遍历的页数是否为当前页，是就添加.avtive 背景色变蓝-->#}
                                                          {% for page_range in pag_range %}
                                                              {% if current_Page_num == page_range %}
                                                                    <li class="page-item active"><a href="?page={{ page_range }}" class="page-link">{{ page_range }}</a></li>
                                                              {% else %}
                                                                    <li class="page-item"><a href="?page={{ page_range }}" class="page-link">{{ page_range }}</a></li>
                                                              {% endif %}
                                                          {% endfor %}

{#                                                      <!-- 判断是否最后一页 -->#}
                                                            {% if not current_Page.has_next %}
                                                                <li class="page-item disabled">
                                                                  <a href="?page={{ current_Page_num }}" aria-label="Next" class="page-link">
                                                                    <span aria-hidden="true">下一页</span>
                                                                  </a>
                                                                </li>
                                                                {% else %}
                                                                <li>
                                                                  <a href="?page={{ current_Page.next_page_number }}" aria-label="Next" class="page-link">
                                                                    <span aria-hidden="true">下一页</span>
                                                                  </a>
                                                                </li>
                                                            {% endif %}

                                                      </ul>
                                                    </nav>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

{% endblock %}

{% block script %}
    <script>
    function get_nid(ths) {
        var equid = $(ths).parent().prevAll();
        {#console.log(equid)#}
        $('#manid').val(equid[3].innerText);
        {#console.log($('#manid').val())#}

    }

        function submit_ch() {
            var manid=$('#manid').val();
            var beizhu=$('#beizhu').val();

            if (beizhu.length==0 || beizhu==null){
                alert('字段不能为空！');
                return false;
            }
            else
                {
                    $.ajax({
                        url: '/index/equmanbeizhu/',
                        type: 'POST',
                        data: {
                            'manid':manid,
                            'beizhu':beizhu,
                        },
                        success: function (data) {
                            if(data){
                                alert('备注成功！')
                            }
                            else{
                                alert('备注失败，请重试！')
                            }
                        }
                    })

                    return true;
                }
        }
    </script>
{% endblock %}