<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>维护员登陆</title>
  <meta name="renderer" content="webkit">
{#  <meta http-equiv="Cache-Control" content="no-siteapp"/>#}

  <link rel="stylesheet" href="/static/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
{#    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>#}
</head>
<body>
<div class="am-g">
	<!-- LOGO -->
	<div class="am-u-sm-12 am-text-center" >
{#		 <i class="am-icon-twitch myapp-login-logo"></i>#}
{#		 <i><img src="/static/images/Computer_256px_1069451_easyicon.net.png"/></i>#}
		 <i><strong style="font-size:50px">西南石油大学图书馆<br>图书馆设备维护登记系统</strong></i>
	</div>
	<!-- 登陆框 -->
	<div class="am-u-sm-11 am-u-sm-centered">
	<form method="post" action="/stulogin/" class="am-form">
	  <fieldset class="myapp-login-form am-form-set">
		<div class="am-form-group am-form-icon">
{#			<i class="am-icon-user"></i>#}
			<i class="am-icon-user"></i>
			<input type="text" name="user" class="myapp-login-input-text am-form-field" placeholder="请输入您的学号">
		</div>
	    <div class="am-form-group am-form-icon">
			<i class="am-icon-lock"></i>
			<input type="password" name="pwd" class="myapp-login-input-text am-form-field" placeholder="请输入密码">
		</div>
	  </fieldset>
{#	  <button type="submit" class="myapp-login-form-submit am-btn am-btn-warning am-btn-block ">登 陆</button>#}
	  <button type="submit" class="am-btn am-btn-success am-btn-block ">登 陆</button>
        <div class="am-container" style="text-align: center">
{#        <strong style="color: red;font-size: 25px">{{ msg }}</strong>#}
            </div>
	</form>
	</div>

</div>
<div
  class="am-slider am-slider-default"
  data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>

{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
</body>
</html>